@import url("https://fonts.googleapis.com/css?family=Bree+Serif|Montserrat:200,400,600&display=swap");
.h--title {
  font-family: "Bree Serif", serif;
  font-size: 72px; }
  @media screen and (max-width: 767px) {
    .h--title {
      font-size: 30px; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .h--title {
      font-size: 60px; } }

.h--body-title {
  font-family: "Bree Serif", serif;
  color: #727272; }
  @media screen and (max-width: 767px) {
    .h--body-title {
      font-size: 24px; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .h--body-title {
      font-size: 30px; } }

.h--body-title--white {
  color: #fff; }

.h--sub-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 200; }
  @media screen and (max-width: 767px) {
    .h--sub-title {
      font-size: 14px; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .h--sub-title {
      font-size: 36px; } }

.body-content {
  font-family: "Montserrat", sans-serif; }
  @media screen and (max-width: 767px) {
    .body-content {
      font-size: 12px; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .body-content {
      font-size: 18px; } }

.testimonial--user {
  font-weight: 600; }

.testimonial-quote {
  color: #a5c763;
  font-size: 28px; }
  @media screen and (max-width: 767px) {
    .testimonial-quote {
      font-size: 16px; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .testimonial-quote {
      font-size: 18px; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .testimonial-quote {
      font-size: 22px; } }

.p--footer {
  font-size: 14px; }
  @media screen and (max-width: 767px) {
    .p--footer {
      font-size: 12px; } }

header .navbar {
  background-color: #fff !important; }
  header .navbar .navbar-toggler {
    border: none; }
    header .navbar .navbar-toggler:focus {
      outline: none; }
  header .navbar .navbar-brand img {
    width: 32px; }
  header .navbar .navbar-nav .nav-item a {
    font-size: 14px; }
    header .navbar .navbar-nav .nav-item a:hover {
      color: #109e86; }
  header .navbar .navbar-nav .active > .nav-link {
    color: #109e86 !important; }

footer {
  padding: 8px 0;
  background-color: #272727;
  color: white; }

.logo--divider {
  margin-bottom: 16px;
  width: 25px;
  transform: rotate(43deg); }
  @media screen and (max-width: 767px) {
    .logo--divider {
      width: 20px; } }

.main {
  padding: 200px 0;
  text-align: center;
  background: url("../img/main-banner.jpg");
  background-size: cover; }
  @media screen and (max-width: 767px) {
    .main {
      padding: 60px 0; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .main {
      padding: 120px 0; } }
  .main .h--title {
    color: white; }
  .main .h--sub-title {
    margin-top: 24px;
    color: #eeeeee; }
    @media screen and (max-width: 767px) {
      .main .h--sub-title {
        margin-top: 8px; } }
  .main .main--button {
    padding: 8px 24px;
    margin-top: 32px;
    background-color: #109e86;
    background-clip: padding-box;
    color: #fff;
    border: 3px solid rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    outline: none; }
    .main .main--button:hover {
      background-color: #0d816e; }
    @media screen and (max-width: 767px) {
      .main .main--button {
        font-size: 12px; } }
    @media (min-width: 992px) and (max-width: 1199px) {
      .main .main--button {
        font-size: 18px; } }

.what-we-do {
  padding: 48px 0;
  text-align: center;
  background: url("../img/whatwedo.jpg");
  background-size: cover; }

.how-we-achieve-results {
  color: white; }
  .how-we-achieve-results--left {
    padding: 120px;
    background-color: #a5c763; }
    @media screen and (max-width: 767px) {
      .how-we-achieve-results--left {
        padding: 32px 16px; } }
    @media (min-width: 768px) and (max-width: 991px) {
      .how-we-achieve-results--left {
        padding: 48px; } }
    @media (min-width: 992px) and (max-width: 1199px) {
      .how-we-achieve-results--left {
        padding: 60px; } }
    .how-we-achieve-results--left .how-we-achieve-results--body {
      position: relative; }
    .how-we-achieve-results--left .body-content--first {
      padding: 0 0 16px 32px;
      margin-left: 16px;
      margin-bottom: 0;
      border-left: 1px solid #dadada; }
      .how-we-achieve-results--left .body-content--first:before {
        content: "1";
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: -1px;
        padding: 2px;
        margin-top: -4px;
        width: 35px;
        height: 35px;
        background-color: #109e86;
        border: 3px solid rgba(255, 255, 255, 0.3);
        background-clip: padding-box;
        border-radius: 50%; }
    .how-we-achieve-results--left .body-content--second {
      padding-left: 48px; }
      .how-we-achieve-results--left .body-content--second:before {
        content: "2";
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: -1px;
        padding: 2px;
        margin-top: -4px;
        width: 35px;
        height: 35px;
        background-color: #109e86;
        border: 3px solid rgba(255, 255, 255, 0.3);
        background-clip: padding-box;
        border-radius: 50%; }
  .how-we-achieve-results--right {
    padding: 120px;
    height: 100%;
    background: no-repeat url("../img/right.png");
    background-size: cover; }
    @media screen and (max-width: 767px) {
      .how-we-achieve-results--right {
        min-height: 300px; } }
    @media (min-width: 768px) and (max-width: 991px) {
      .how-we-achieve-results--right {
        min-height: 350px; } }

.parents {
  padding: 48px 0;
  text-align: center; }

.we-cater {
  padding: 48px 0px;
  text-align: center;
  background-color: #f7f7f7; }
  .we-cater--images {
    display: flex;
    justify-content: space-between;
    margin: auto; }
    .we-cater--images img {
      padding: 8px;
      max-width: 100%;
      height: auto; }
      @media screen and (max-width: 767px) {
        .we-cater--images img {
          max-width: 110px; } }
      @media (min-width: 768px) and (max-width: 991px) {
        .we-cater--images img {
          max-width: 130px; } }
      @media (min-width: 992px) and (max-width: 1199px) {
        .we-cater--images img {
          max-width: 180px; } }
    @media screen and (max-width: 767px) {
      .we-cater--images {
        display: block; } }
    @media (min-width: 768px) and (max-width: 991px) {
      .we-cater--images {
        display: block; } }
    @media (min-width: 992px) and (max-width: 1199px) {
      .we-cater--images {
        display: block; } }
    @media screen and (min-width: 1200px) {
      .we-cater--images {
        padding: 0 80px; } }

.testimonials {
  padding: 120px 0;
  background: url("../img/testimonials.jpg");
  background-size: cover; }
  @media screen and (max-width: 767px) {
    .testimonials {
      padding: 48px 0; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .testimonials {
      padding: 48px 0; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .testimonials {
      padding: 80px 0; } }
  .testimonials .testimonial {
    margin: 16px 48px; }
    .testimonials .testimonial--message {
      padding: 0 24px;
      text-align: center; }
    @media screen and (max-width: 767px) {
      .testimonials .testimonial {
        margin: 16px 0px; } }
    @media (min-width: 768px) and (max-width: 991px) {
      .testimonials .testimonial {
        margin: 16px 0px; } }
    @media (min-width: 992px) and (max-width: 1199px) {
      .testimonials .testimonial {
        margin: 16px; } }
